@import url('forum.theme.css');

.mn-global{padding:0px; margin:5px 0px 0px;}

body{background:#fff url(../images/forum/bg.png) 0px 0px fixed repeat;}

._ct{color: #555; box-shadow:none;width: auto; padding:0px 5px; background:#fff;}


.head-logo h1 a {width:365px; height:92px; background:url(../images/forum/icon.png) 0px 0px no-repeat;}

.navbar{margin:0px -5px 5px;}
._box {margin-bottom: 10px;padding: 5px 0px 5px 5px;}


.breadcrumb{background:#2A819E;box-shadow:none;border:none; margin:0px -5px 5px; padding:5px 10px; border-radius:0px;background-image: -webkit-linear-gradient(top,#2A819E 0%,#14C2F7 45%);background-image: -moz-linear-gradient(top,#2A819E 0%,#14C2F7 45%);background-image: -ms-linear-gradient(top,#2A819E 0%,#14C2F7 45%);background-image: -o-linear-gradient(top,#2A819E 0%,#14C2F7 45%);background-image: linear-gradient(top,#2A819E 0%,#14C2F7 45%);}
.breadcrumb a{color:#fff; text-shadow:1px 1px 0px #2A819E;}

.pagination{margin:0px}
.error{background:#fff; color:#f00;}

.container{margin-bottom:0px;}
.dropdown-menu > li{display:block}

._ft{background:#fff; margin:0px auto;}
.nav-ft{padding-top: 5px;padding-bottom: 5px; border-radius:5px; background:#eee;}
.nav-ft > li h3{margin:5px 5px 5px 10px;}
.nav-ft > li ul{margin:0px 5px 0px 5px; padding:0px 5px 5px 10px; border-top:1px solid #eee; list-style:inside circle}
.nav-ft > li ul li{line-height:24px; height:24px;}
.nav-ft > li ul li a{color:#333;}



.hforum thead tr{background:#f0f0f0; height:30px; line-height:30px; font-weight:bold;}
.hforum tr.l0{background:#fff}
.hforum tr.l1{background:#f9f9f9}
.hforum i.i0{ width:17px; height:15px; display:inline-block;background:url(../images/football/icon.png) -440px -150px no-repeat;}
.hforum i.i1{ width:17px; height:17px; display:inline-block;background:url(../images/football/icon.png) -420px -150px no-repeat;}
.hforum a{color:#333;}
.hforum td{color:#555}
.hforum .ticon{width:17px; vertical-align:middle; text-align:center;}

.hforum .tcate,.hforum .tcate p{width:100px;}
.hforum .ttitle,.hforum .ttitle p{width:300px;}
.hforum .ttitle2,.hforum .ttitle2 p{width:200px;}
.hforum .tpost,.hforum .tpost p{width:100px; text-align:center;}
.hforum .tview{width:50px; text-align:center; vertical-align:middle; color:#74C7FA;}
.hforum .treply{width:50px; text-align:center; vertical-align:middle; color:#F6921E;}
.hforum .ttime,.hforum .ttime p{width:150px; text-align:center;}
.hforum p{overflow:hidden; white-space:nowrap; height:16px; line-height:16px;text-overflow:ellipsis;}


.hforum2 thead tr{background:#f0f0f0; height:30px; line-height:30px; font-weight:bold;}
.hforum2 tr.l0{background:#fff}
.hforum2 tr.l1{background:#f9f9f9}
.hforum2 i.i0{ width:17px; height:15px; display:inline-block;background:url(../images/football/icon.png) -440px -150px no-repeat;}
.hforum2 i.i1{ width:17px; height:17px; display:inline-block;background:url(../images/football/icon.png) -420px -150px no-repeat;}
.hforum2 a{color:#333;}
.hforum2 td{color:#555}
.hforum2 .ticon{width:17px; vertical-align:middle; text-align:center;}

.hforum2 .tcate,.hforum2 .tcate p{width:100px;}
.hforum2 .ttitle2,.hforum2 .ttitle2 p{width:220px;}
.hforum2 .tpost,.hforum2 .tpost p{width:100px; text-align:center;}
.hforum2 p{overflow:hidden; white-space:nowrap; height:16px; line-height:16px;text-overflow:ellipsis; margin:0px;}


.hf{font-size:14px; font-weight:normal;height:30px; line-height:30px; color:#000; margin:0px 0px 5px 0px; padding:0px 5px; background:#0E2237; color:#D0D2D3; background-image: -webkit-linear-gradient(top,#0E2237,#03121E);background-image: -moz-linear-gradient(top,#0E2237,#03121E);background-image: -ms-linear-gradient(top,#0E2237,#03121E);background-image: -o-linear-gradient(top,#0E2237,#03121E);background-image: linear-gradient(top,#0E2237,#03121E);}
.hf a{color:#D0D2D3; }
.hf small{font-size:12px; font-style:normal; color:#D0D2D3}
.hf small a{color:#D0D2D3}
.hf i{display:inline-block; width:22px; height:22px; vertical-align:middle}


.hb{font-size:14px; font-weight:normal;height:30px; line-height:30px; color:#000; margin:0px 0px 5px 0px; padding:0px 5px; background:#0E2237; color:#D0D2D3; background-image: -webkit-linear-gradient(top,#0E2237,#03121E);background-image: -moz-linear-gradient(top,#0E2237,#03121E);background-image: -ms-linear-gradient(top,#0E2237,#03121E);background-image: -o-linear-gradient(top,#0E2237,#03121E);background-image: linear-gradient(top,#0E2237,#03121E);}
.hb a{color:#D0D2D3; }
.hb small{font-size:12px; font-style:normal; color:#D0D2D3}
.hb small a{color:#D0D2D3}
.hb i{display:none; width:25px; height:25px;vertical-align:middle}



.forum-list-picpost li{ width:312px; float:left; margin:5px 0px 5px 8px;text-align:center;}
.forum-list-picpost li .l{display:block; width:130px; height:130px; background:#fff;border:1px solid #f0f0f0; border-radius:5px; line-height:0px; box-shadow: 2px 2px 0px #f0f0f0; float:left}
.forum-list-picpost li .l a{display:block; line-height:0px;}
.forum-list-picpost li .l img{width:123px; height:123px; margin:3px auto 0px; border-radius:5px;}
.forum-list-picpost li .r{width:170px; float:right; text-align:left; overflow:hidden; color:#777;}
.forum-list-picpost li .r p {margin: 0px;}

.forum-list-picpost-relate li{ width:180px; float:left; margin:5px 0px 5px 5px;text-align:center;}
.forum-list-picpost-relate li a{color:#333;}
.forum-list-picpost-relate li .l{display:block; width:70px; height:70px; background:#fff;border:1px solid #f0f0f0; border-radius:5px; line-height:0px; box-shadow: 2px 2px 0px #f0f0f0; float:left}
.forum-list-picpost-relate li .l a{display:block; line-height:0px; }
.forum-list-picpost-relate li .l img{width:64px; height:64px; margin:3px auto 0px; border-radius:5px;}
.forum-list-picpost-relate li .r{width:100px; float:right; text-align:left; overflow:hidden; color:#777; height:72px;}

.forum-home-list{padding:0px 0px 10px; margin:0px;}
.forum-home-list li{float:left; width:350px; margin:7px 0px 0px 7px;}
.forum-home-list li > span{display:block; float:left; width:120px; margin:0px 0px 0px;}
.forum-home-list li > span a{width:114px; height:88px; display:block; background:#E6E7E8; line-height:0px;}
.forum-home-list li > span a img{width:110px; height:84px;margin:2px;}
.forum-home-list li > div{margin:0px 0px 0px 124px;}
.forum-home-list li > div div{max-height:34px; overflow:hidden; color:#26A9E0; font-size:12px; line-height:1.5em;}
.forum-home-list li p{margin:0px; font-size:12px;}
.forum-home-list li > p{clear:both}
.forum-home-list li h4{width:230px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; margin:0px}
.forum-home-list li h4 a{color:#000;}

.forum-home h3,.forum_cp{ text-indent:10px;margin:5px 0px 0px; border-radius:3px; box-shadow:0px 0px 5px #ccc; background:#302D2E; color:#fff; background-image: -webkit-linear-gradient(top,#302D2E,#49494A);background-image: -moz-linear-gradient(top,#302D2E,#49494A);background-image: -ms-linear-gradient(top,#302D2E,#49494A);background-image: -o-linear-gradient(top,#302D2E,#49494A);background-image: linear-gradient(top,#302D2E,#49494A); font-size:14px; height:30px; line-height:30px; overflow:hidden;}
.forum-home h3.l1,.forum_cp{background-image: -webkit-linear-gradient(top,#1780BF,#1CA0D4);background-image: -moz-linear-gradient(top,#1780BF,#1CA0D4);background-image: -ms-linear-gradient(top,#1780BF,#1CA0D4);background-image: -o-linear-gradient(top,#1780BF,#1CA0D4);background-image: linear-gradient(top,#1780BF,#1CA0D4); font-size:14px; height:30px; line-height:30px;}
.forum-home h3 a,.forum-home h3 small,.forum_cp a,.forum_cp small{color:#fff;} 

.forum_rec h4{background:url(http://s0.boxza.com/static/images/forum/icon.png) -120px -180px no-repeat; width:145px; height:34px; line-height:34px; text-indent:35px; font-size:14px; color:#FFF100; border-bottom:1px solid #ddd; margin:3px 0px 1px;}

.forum_rec ul{background:#F1F1F2; padding:8px 5px 5px; border-radius:0px; margin:0px 0px 0px}
.forum_rec li{border-bottom:1px solid #D0D2D3; border-top:1px solid #fff; height:28px; line-height:28px; width:235px; text-indent:5px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.forum_rec li:first-child{border-top:none;}
.forum_rec li:last-child{border-bottom:none;}
.forum_rec li i{width:16px; height:17px; display:inline-block; margin:0px 5px 0px 0px;background:url(http://s0.boxza.com/static/images/forum/icon.png) -30px -190px no-repeat; vertical-align:text-bottom}
.forum_rec li i.l1{background-position:-50px -190px;}
.forum_rec li i.l2{background-position:-70px -190px;}
.forum_rec li a{color:#404041}


.forum_radio{ background:#D0D2D3; border-radius:5px; padding:0px 0px 5px 0px}
.forum_radio_box{width:225px; height:290px; background:url(http://s0.boxza.com/static/images/forum/icon.png) 0px -410px no-repeat; position:relative; margin:0px 10px;}
.forum_radio_box div{position:absolute; left:14px; top:102px; width:197px; height:24px;}
.forum_radio_fm{margin:0px; padding:0px;}
.forum_radio_fm li{float:left; margin:5px 0px 0px 5px; width:72px; height:72px;}
.forum_radio_fm li a{display:block; line-height:0px;}
.forum_radio_fm li a img{width:72px; height:72px;}

.forum_sub_box{background:#F1F1F2; padding:8px 5px; border-radius:5px; margin:5px 0px 0px}
.forum_sub_box li{border-bottom:1px solid #D0D2D3; border-top:1px solid #fff; height:24px; line-height:24px; width:235px; text-indent:5px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.forum_sub_box li a{color:#404041}
.forum_beauty i{border-bottom:1px solid #D0D2D3;display:block;width:235px; height:40px; background:url(http://s0.boxza.com/static/images/forum/icon.png) 0px -270px no-repeat}
.forum_football i{border-bottom:1px solid #D0D2D3;display:block;width:235px; height:48px; background:url(http://s0.boxza.com/static/images/forum/icon.png) 0px -315px no-repeat}
.forum_boyz i{border-bottom:1px solid #D0D2D3;display:block;width:235px; height:43px; background:url(http://s0.boxza.com/static/images/forum/icon.png) 0px -365px no-repeat}


.forum_stats{padding:10px; border:1px solid #ddd; background:#f9f9f9; line-height:1.8em; margin:5px 0px;}
.forum_stats a{text-shadow:1px 1px 0px #fff;}

.detail img {max-width: 700px;}
