/*--------------------- css พื้นฐานที่ทุกเว็บต้องมีเพื่อทำงานร่วมกัน ----------------------------*/
 /* ค่าพื้นฐานทั่วไป */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font: inherit;vertical-align: baseline;}
html {font-size: 62.5%; }
strong{font-weight:bold}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body{ font-family:Tahoma; font-size: 13px; line-height: 18px; color: #555; -webkit-font-smoothing: antialiased; background:#f9f9f9 url(../images/global/bg.png) left top repeat fixed;}
a img { border:0; }
a { color: #0099D2; text-decoration: none; line-height: inherit; }
a:hover { color: #11639d;text-decoration:underline; }
a:focus { color: #cc4714; outline: none; }
p a, p a:visited { line-height: inherit; }


ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }

table { background: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin: 0px;   }
table tr td { padding: 5px; vertical-align: top; border: none; }
.left{ float: left; }
.right{ float: right; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }
.text-center { text-align: center; }
.hide{ display: none; }
.highlight{ background: #ff0; }

h1, h2, h3, h4, h5, h6 { color: #181818; font-weight: bold; line-height: 1.25 }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 22px; font-size: 2.2rem; margin-bottom: 4px;}
h2 { font-size: 18px; font-size: 1.8rem; margin-bottom: 2px; }
h3 { font-size: 16px; font-size: 1.6rem; margin-bottom: 2px; }
h4 { font-size: 14px; font-size: 1.4rem; margin-bottom: 1px; }
h5 { font-size: 13px; font-size: 1.3rem; font-weight: normal; }
h6 { font-size: 11px; font-size: 1.1rem; font-weight: normal; }


*:focus{outline: none; } 
.opacity{opacity: 0.3; filter: alpha(opacity=30); }
.icon{vertical-align:text-bottom}
.clear{clear:both}
.right{float:right !important}
.left{float:left !important}

.navbar{filter:none;}
.navbar-inner{border:none; filter:none;}
.navbar .nav > li > a{text-shadow:none;}

.hdMode body{overflow:hidden}

._ct { margin:0 auto; width:980px; clear:both; box-shadow:0px 0px 10px rgba(0,0,0,0.1)}
._ct-in{padding:0px;min-height:400px;}
._ft {clear:both; margin:5px auto 0px;position:relative; width:auto; padding:5px 0px}
._ft-in{padding:15px;text-align:right; color:#ccc; }
._ft a{ color:#111;}

._ftc{text-align:right; margin:5px; padding:10px 270px 0px 10px}

.nav-ft{margin:5px 0px 5px 5px}
.nav-ft > li h3{margin:5px 5px 5px 10px;}
.nav-ft > li ul{margin:0px 5px 0px 5px; padding:0px 5px 5px 10px; list-style:inside circle}
.nav-ft > li ul li{line-height:24px; height:24px;}


._scs{float:left; width:400px; margin:10px 0px 0px 10px}
._scs div {float: left;width: 90px;overflow: hidden;}
._scs p{clear:both}

._contact{ position:absolute; right:0px; bottom:0px; display:inline-block; width:275px; height:40px;background:url(../images/home/v1/ads-contact.png) 0px 0px no-repeat;}

._hd {background:#0099D2 url(../images/global/chat.png) 0px -125px repeat-x; height:40px; width:100%; text-align:center; position:fixed;top:0px; z-index:99; border-bottom:1px solid #fff; box-shadow:0px 2px 5px rgba(100,100,100,0.2);}
*html ._hd {position: absolute;top:expression(eval(document.compatMode &&document.compatMode=='CSS1Compat') ?documentElement.scrollTop: document.body.scrollTop);}
._hd-bt{margin-bottom:40px}
body.ios ._hd{position:static; top:auto;}
body.ios ._hd-bt{margin-bottom:0px}
._hd nav{ width:980px; margin:0px auto 0px; padding-top:5px; height:35px; text-align:left; position:relative}
._hd li { display:inline; float:right; width: auto;}
._hd li.truehits { width:40px; height:17px; overflow:hidden; float:left; margin:9px 0px 0px 3px}
._hd li.preview a { display:block; padding:0px 10px 0 5px; height:35px; line-height:35px; color:#fff; font-weight:bold; border-radius:3px; border-bottom-left-radius:0px; border-bottom-right-radius:0px; }
._hd li a.over{background-color:#fff; color:#0099D2; }
._hd li ul {position: absolute;display: none;background-color: #fff;border: 2px solid #0099D2;border-top:none;background-repeat: repeat-x;margin-top:-3px; z-index:96; right:-2px;width:300px; padding-top:5px}
._hd li ul li {float:none; display:block}
._hd li ul li a:hover{background-color:#f5f5f5 !important;color: #444 !important;}
._hd li.logo { width:130px; overflow:hidden; float:left; margin-top:-5px;}
._hd li.logo a { display:block; padding:0px 10px 0 5px; height:40px; line-height:40px; width:130px; padding:0; background:url(../images/global/chat.png) 0px -80px no-repeat; }
._hd li.logo a:hover{}
._hd li.search { width:300px; float:left; margin:4px 0px 0px -5px; padding:0px; border:1px solid #0099D2; position:relative;}
._hd li.search > span{display:block; background:#fff; margin:0px 0px 0px 0px; height:22px;border-top:1px solid #ddd; border-left:1px solid #ddd; overflow:hidden; position:relative;}
._hd li.search i{background:#fff url(../images/global/chat.png) -64px 0px no-repeat; width:16px; height:16px; display:block; overflow:hidden; cursor:pointer}
._hd li.search strong{display:block;position:absolute; right:3px; top:3px; height:16px; padding:0px 0px 0px 3px; border-left:1px solid #ccc;}
._hd li.search .hsearch{border:none; width:265px; height:18px; margin:1px; line-height:18px; font-family:tahoma; font-size:12px;padding: 0px;border-radius: 0px;box-shadow: 0px 0px 0px;}
._hd li.notify{width:30px; text-align:center; padding:3px 0px 0px 0px}
._hd li.notify > a{display:block; margin:1px 0px 0px 2px;border-radius:3px; line-height:0px; padding:2px 0px 2px 2px; position:relative;}
._hd li.notify > a:hover{/*background-color:#017794 !important;color:#F3F8F9 !important*/}
._hd li.notify li{text-align:left; border-bottom:1px solid #f0f0f0;}
._hd li.notify li{text-align:left; border-bottom:1px solid #f0f0f0; padding:5px; line-height:1.4em}
._hd li.notify li.ur{background-color:#f5f5f5;}
._hd li.notify li .av { margin-right:5px}
._hd li.notify li p{clear:both}
._hd li.notify li.mr a{ text-align:center; display:block;padding:5px;height:auto; line-height:18px; color:#555;}
._hd li.notify li a:hover{background-color:#f5f5f5;}
.notify_split{width:0px !important; height:20px; overflow:hidden; border-left:1px solid #02B0DB; border-right:1px solid #0399BE; margin:7px 10px 0px 7px}
._hd li.notify_friend > a i{ background:url(../images/global/chat.png) -24px -16px no-repeat; width:24px; height:24px; display:block;opacity:0.7}
._hd li.notify_other > a i{ background:url(../images/global/chat.png) 0px -16px no-repeat; width:24px; height:24px; display:block;opacity:0.7}
._hd li.notify_message > a i{ background:url(../images/global/chat.png) -120px -16px no-repeat; width:24px; height:24px; display:block;opacity:0.7}
._hd li.notify_friend > a p{background:url(../images/global/chat.png) -48px -16px no-repeat; width:24px; height:24px; font-size:9px; font-weight:bold; color:#fff; position:absolute; top:17px;line-height: 28px;overflow: hidden; display:none }
._hd li.notify_other > a p{background:url(../images/global/chat.png) -72px -16px no-repeat; width:24px; height:24px; font-size:9px; font-weight:bold; color:#f00; position:absolute; top:17px;line-height: 28px;overflow: hidden; display:none; }
._hd li.notify > a:hover{ background-color:#0099D2; }
._hd li.notify > a:hover i{ opacity:1}
._hd li.notify_setting{width:auto; position:relative; margin-right:10px; padding:0px;}
._hd li.notify_setting li{ padding:0px;}
._hd li.notify_setting > ul{  width:100%; margin-top:0px !important; z-index:1 !important; padding:0px; min-width:150px}
._hd li.notify_setting > a{ padding:0px 15px 0px 0px; border:1px solid #0099D2; border-radius:3px;border-top-left-radius: 15px;border-bottom-left-radius: 15px; font-weight:bold; opacity:1; width:auto; height:30px; line-height:30px;font-size:12px; color:#F3F8F9;background-color:#0099D2;margin:0px 0px 1px 0px}
._hd li.notify_setting > a.over{ padding-bottom:2px}
._hd li.notify_setting > a img{float:left; border-radius:15px; width:30px; height:30px; margin:0px 10px 0px 0px}
._hd li.notify_setting li a{display:block; padding:0px 10px 0 15px; height:24px; line-height:24px; text-align:left  }
._hd li a:hover { background-color:none; text-decoration:none; color:#fff;}
._hd li a.over,._hd li a.over:hover{background-color:#fff !important; color:#0099D2 !important; border-color:#fff; margin-bottom:0px; height:30px; border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
._hd li.notify_setting > a.over{height:31px;}
._hd li.st-confirm{width: 350px;float: left;margin: 4px 0px 0px -5px;padding: 0px;border: 1px solid #0099D2;background:#FFE;height:24px;border-radius:5px;}
._hd li.st-confirm:hover{ background:#FF9;}
._hd li.st-confirm div{height:24px; line-height:24px; padding:0px 10px; color:#f00; font-weight:bold; text-align:center;}
._hd li.st-confirm div small{ color:#999; font-size:12px; font-style:normal; font-weight:normal;}
._hd li.st-confirm div a{color:#999}

.av{float:left; width:56px;}
.av a{ display:block; width:56px; height:56px;/*border-radius:30px;*/ border:1px solid #e5e5e5; background-color:#fff;}
.av a:hover{background-color:#f0f0f0; border:1px solid #F0F0F0;}
.av a img{/*border-radius:25px;*/ margin:3px;}
.av .pet{text-align: center;padding: 2px 0px;border: 1px solid #E5E5E5;border-top: none;width: 56px;background: #fff;}
.av .pet img{width:32px}

#sresult{position:absolute; background:#fff; border:1px solid #0099D2;border-top:none; width:100%; display:block !important; margin:1px 0px 0px 0px; left:-1px; padding:0px; right:auto;}
#sresult a{display:block; height:40px; border-top:1px solid #f5f5f5; width:100%;color:#0099D2;}
#sresult a.a{text-align:center; padding:10px 0px; background-color:#f0f0f0; height:auto;}
#sresult a.selected,#sresult a.selected.a{background-color:#0099D2 !important;color:#fff !important;}
#sresult a div{margin:5px; width:290px; height:30px; text-align:left; font-size:14px; line-height:30px;}
#sresult a span img{width:30px; /*border-radius:15px;*/ margin-right:10px; float:left}

.find-people-panel{position:relative; margin:5px;}
.find-people-panel .hsearch{border:1px solid #ccc;; width:100%; height:22px; margin:0px; line-height:22px; font-family:tahoma; font-size:12px;padding: 0px;border-radius: 0px;box-shadow: 0px 0px 0px;}
.find-people-panel #sresult{position:absolute; background:#fff; border:1px solid #0099D2;border-top:none; width:100%; display:block !important; margin:1px 0px 0px 0px; left:-1px; padding:0px; right:auto; overflow:hidden}
.find-people-panel #sresult a{display:block; height:30px; border-top:1px solid #f5f5f5; width:100%;color:#0099D2;}
.find-people-panel #sresult a.a{text-align:center; padding:5px 0px; background-color:#f0f0f0; height:auto;}
.find-people-panel #sresult a.selected,#sresult a.selected.a{background-color:#0099D2 !important;color:#fff !important;}
.find-people-panel #sresult a div{margin:5px; width:290px; height:20px; text-align:left; font-size:14px; line-height:20px;}
.find-people-panel #sresult a span img{width:20px; /*border-radius:15px;*/ margin-right:10px; float:left}


ul.tabs{padding: 1px 5px 0px 5px;font-size:14px;border-bottom: 1px solid #e5e5e5;list-style-type: none;text-align: right; clear:both; margin-bottom:1px;}
ul.tabs li{display: inline;margin: 0;}
ul.tabs li a{text-decoration: none;padding: 0px 7px;margin-left: 3px; height:2em; line-height:2em;border: 1px solid #e5e5e5;border-bottom: none;background-color: #F5F5F5;color: #333; text-shadow:1px 1px 0px #fff; float:left; display:block;border-top-left-radius: 3px;border-top-right-radius: 3px;}
ul.tabs h3{ margin-top:3px;}
ul.tabs li a.gray{border: 1px solid #ddd;border-bottom: none;}
ul.tabs li a:visited{color: #2d2b2b;}
ul.tabs li a:hover{background-color:#FFFFFF;color: #ACACAC;}
ul.tabs li a:active{color: black;}
ul.tabs li.on a,ul.tabs li.active a{position: relative;background-color:#FFFFFF;color:#FF6600; border:1px solid #FF6600; border-bottom:none}



._bs{background-color:#f5f5f5; text-align:right; padding:0px 5px; margin-bottom:1px; border-bottom:1px solid #E5E5E5}
._bs div{float:left; margin-top:7px;}
._fnd{width:20px;height:20px;background:#efefef url(../images/global/search.gif) center center no-repeat;border:1px solid #cfcfcf;margin-left:3px;cursor:pointer;}

/* ads */
/*
.ads{width:240px; color:#666; font-size:12px}
.ads h4 a,.prv-ads h4 a{color:#229AB9 !important; font-size:12px}
.ads h4,.prv-ads h4{padding: 3px 5px; background:#f5f5f5; margin:0px}
.ads img,.prv-ads img{float:left; margin:2px 5px 3px 0px; width:90px; height:60px;}
.ads hr,.prv-ads hr{margin:2px 0px; color:#fff; background:#fff; height:1px;border:none; border-bottom:1px solid #ddd}
.ads p,.prv-ads p{clear:both}
.ads .d,.prv-ads .d{ line-height:1.7em; height:60px; overflow:hidden; width:145px; color:#555; padding-top:3px;}
.ads a.b{display:block}
.ads a.b:hover{text-decoration:none; background-color:#fafafa;}
.ads .premium h4{ background-color:#F3F8F9}
*/



/*  ปุ่มและช่อง input */
/*
.reset,.button,.submit{font-weight: bold;background:url(../images/global/bg_buttons.jpg) left top repeat-x;-moz-box-sizing: content-box;border-radius: 5px;border: 1px solid #BBBBBB;cursor: pointer;font-size: 14px !important;line-height: 1.6em;padding: 2px 10px;text-decoration: none;}
.submit{ color:#000;}
.button:hover,.submit:hover{border:1px solid #666}
*/
.tbox,.tboxerror{padding:0px; text-indent:5px; scrollbar-face-color: #dddddd;scrollbar-highlight-color: #ffffff;scrollbar-shadow-color: #dddddd;scrollbar-3dlight-color: #ddddddd;scrollbar-arrow-color: #c4c4c4;scrollbar-track-color: #f5f5f5;scrollbar-darkshadow-color: #c4c4c4;background-color: #F9F9F9;color:#333;border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; border-right:1px solid #f6f6f6; border-bottom:1px solid #f6f6f6;font-size:14px; line-height:1.6em; border-radius:4px}
input[type=file].tbox{border: none;background: transparent;text-indent: 0px;}
input.tbox,select.tbox{ height:24px; line-height:24px; text-indent:0px; padding:0px !important; margin:0px !important}
.tboxerror{padding:3px;border:#ff0000 1px solid;color:#ff0000;font-weight:bold;}
.error{padding:3px;background:#ff0000;color:#ffffff;font-weight:bold;}


.button {display: inline-block;text-align: center;padding: 9px 34px 11px;color: #111;text-decoration: none;font-weight: bold;line-height: 1;font-family: Tahoma, Arial, Verdana, sans-serif;position: relative;cursor: pointer;border: none;outline: none;margin: 0;background: #eee url(../images/global/button.png) repeat-x 0 -31px;-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,1);-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,1);box-shadow: inset 0 1px 0 rgba(255,255,255,1);text-shadow: 1px 1px 0px #fff;background: #eee url(../images/global/button.png) repeat-x 0 -31px, -moz-linear-gradient(top, rgba(255,255,255,.6) 0%, transparent 100%);background: #eee url(../images/global/button.png) repeat-x 0 -31px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.6)), color-stop(100%,transparent));border: 1px solid #ccc;-webkit-transition: background-color .15s ease-in-out;-moz-transition: background-color .15s ease-in-out;-o-transition: background-color .15s ease-in-out;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;font-size: 12px;padding: 5px 14px 6px; width: auto;background-position: 0 -36px; }
.blue.button{ text-shadow:0 -1px 1px rgba(0,0,0,0.28);-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);background-color: #00a6fc; border: 1px solid #0593dc; color: #fff;}
.button:hover, .button:focus 				{ background-color: #ddd; color: #000; }
.blue.button:hover, .blue.button:focus		{ background-color: #0192dd; color: #fff; }
.button:active{-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.15);box-shadow: inset 0 1px 0 rgba(0,0,0,.15);}
input[type=submit].button, button.button { -webkit-appearance: none; }
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {border: none;}
.button.disabled, .button[disabled] { opacity: 0.6; cursor: default; }
@-moz-document url-prefix("http://") {
input[type=submit].button::-moz-focus-inner, button.button::-moz-focus-inner { border: 0; padding: 0; }
input[type=submit].button		{ padding: 7px 20px 8px; }
}




/* ข้อความเตือนต่างๆ */
.msg_error{border-radius:5px; background:#ff0000;color:#ffffff;font-weight:bold; text-align:center; padding:3px; margin:5px 0px;}
.help{border-radius:5px; border:1px solid #FFAF03; background:#000; color:#FFAF03; text-align:center; padding:10px; margin:5px;}
.input_error{ border:1px solid #ff0000; background:#000; color:#ff0000;}

/* การแก้ไขข้อมูลในแต่ละส่วนทันที โดยการคลิกที่ข้อมูลนั้นๆ (edit in place)*/
.edit{overflow:hidden}
.edit span.ed,.edit2 span.ed{text-indent:5px;}
.edit strong.ed,.edit2 strong.ed{ display:none; font-style:normal;}
.edit:hover{ background-color:#FFFFED; background-image:url(../images/global/edit.gif); background-position:right center; background-repeat:no-repeat}
.edit.editting{background:#FFF !important;}
#edit-tooltip{position:absolute;z-index:99999; background:#FFF;color:#ff7700; padding:3px 5px;display:inline;-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;border:1px solid #cccccc;border-bottom:none;}


/* tooltip อธิบายข้อมูล */
.tipsy { padding: 5px; font-size: 10px; opacity: 0.8; filter: alpha(opacity=80); background-repeat: no-repeat;  background-image: url(../images/global/tipsy.gif); }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-north { background-position: top center; }
.tipsy-south { background-position: bottom center; }
.tipsy-east { background-position: right center; }
.tipsy-west { background-position: left center; }

/* inet popup - แสดงหน้าต่างข้อมูลซ้อนบนหน้าเว็บ */
#gbox{font-size:12px;overflow:hidden; width:100%;position:absolute;left:0px; top:0px; display:none; z-index:999;padding:0px;margin:0px;}
#gboxa{width:100%;padding:0px;margin:0px;position:absolute;left:0px; top:0px;background:rgba(255, 255, 255, 0.7) url(../images/global/gbox.png) left top repeat;}
#gboxb{position:absolute;background:#FFFFFF;overflow:hidden; position:relative;height:0px;box-shadow:0px 0px 5px rgba(0,0,0,0.5); -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.5); -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.5);border-radius:3px;}
#gboxc{overflow:hidden;text-align:left; color:#666666; border-radius:3px;}
.gbox{display:none}
.gbox_header{text-align:center; color:#F60; padding:3px; background-color:#F0F0F0; border-bottom:1px solid #CCC; font-size:16px; padding:10px; text-shadow:1px 1px 0px #fff;}
.gbox_content{background:#fff; color:#666}
.gbox_content h4{margin-bottom:5px; text-align:left; color:#000}
.gbox_content hr{border:none; color:#FFFFFF; border-bottom:1px solid #DDDDDD; margin:20px 0px}
.gbox_footer{ text-align:center; background-color:#F0F0F0; border-top:1px solid #CCC; padding:5px}
#gboxc .gbox{display:block}
.ui-resizable-helper { border: 1px dotted white; }


/* กล่องแสดงข้อความขนาดเล็ก */
#loading{z-index:999999;position:absolute;left:0px;top:0px; text-align:right; display:none;min-width:450px; overflow:visible;border:1px solid #666; background:#FFFFFF;opacity:0; border-radius:5px; box-shadow:0px 0px 10px #666}
#loading div{ position:relative; padding:5px;}
#loading .loading_close{ position:absolute; z-index:999; top:5px; right:5px; line-height:7px;}
#loading span{font-size:16px; color:#000000; font-weight:bold; text-align:center; display:block;line-height:2.0em; margin:10px 5px;}

/* ปุ่มแสดงการแบ่งหน้าของข้อมูล */
.pager-nav{margin:5px}
.pager-nav .page1,.pager-nav .page2 {padding:2px 7px 2px 7px; margin-left:2px; border-radius: 5px;}
.pager-nav .page1 {background:#f3f3f3;color:#999999;border:1px solid #dddddd;}
.pager-nav .page2 {background:#ffffff;color:#FF6600;font-weight:bold;border:1px solid #dddddd;}



.tbservice{background:#f0f0f0 !important; -webkit-border-bottom-right-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-bottomright: 5px;-moz-border-radius-bottomleft: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}
.tbservice th{background:#ffffff url(../images/global/bar.png) repeat-x top left; font-weight:bold; padding:7px 0px 5px; vertical-align:text-bottom; color:#333333; text-shadow:1px 1px 0px #fff; font-size:14px}
.tbservice th:first-of-type {border-top-left-radius: 5px;}
.tbservice th:last-of-type {border-top-right-radius: 5px;}
.tbservice td{background:#ffffff; vertical-align:middle; font-size:12px}
.tbservice .colum{text-align:right; font-weight:bold; width:150px !important;vertical-align:top; /*padding:7px 5px 7px 0px*/}
.tbservice .tab_name,.tbservice .tab_full,.tbservice .tab_title{text-align:left !important;}
.tbpage{background:#f7f7f7}
.tbpage .page1,.tbpage .page2,.tbpage .page3 {padding:1px 6px 1px 6px; margin:2px 0px 2px 2px; border-radius: 5px;}
.tbpage .pager{margin:3px 2px;}
.tbpage .page1 {background:#f3f3f3;color:#999999;border:1px solid #dddddd;}
.tbpage .page2 {background:#ffffff;color:#FF6600;font-weight:bold;border:1px solid #dddddd;}



.friend{display:inline-block; padding:5px 15px; border-radius:5px; color:#fff; font-weight:bold; background-color:#0099D2; font-size:12px; border:1px solid #0099D2; line-height:12px;}
.frequest{display:inline-block; padding:5px 15px; border-radius:5px; color:#fff; font-weight:bold; background-color:#F60; font-size:12px; border:1px solid #F60; line-height:12px;}
.faccept{display:inline-block; padding:5px 15px; border-radius:5px; color:#F60; font-weight:bold; background-color:#fff; font-size:12px; border:1px solid #F60; line-height:12px;}
.fnot{display:inline-block; padding:5px 15px; border-radius:5px; color:#0099D2; font-weight:bold; background-color:#fff; font-size:12px; border:1px solid #0099D2; cursor:pointer; line-height:12px;}


.pho-hd{text-align:center;position:fixed;top:0px;left:0px; right:0px; bottom:0px; overflow:hidden;background:rgba(255, 255, 255, 0.7) url(../images/global/gbox.png) left top repeat; z-index:99999}
.pho-hd-ct{display: table;height: 100%;table-layout: fixed;width: 100%;}
.pho-hd-in{display: table-cell;text-align: center;vertical-align: middle;width: 100%;}
.pho-hd-wr{display: inline-block;outline: none;text-align: left;position:relative}
.pho-hd-wl{ margin:20px 0px; zoom:1; background: white;border: 5px solid #ccc;padding: 5px;}
.pho-hd-im{float:left; background-color:#fff; position:relative;}
.pho-hd-cm{float:right; width:300px; /*min-height:300px; max-height:1024px;*/ background-color:#fff; position:relative;}
.pho-hd-cm-x{ position:absolute; right:-10px; top:-10px; width:30px; height:30px; background:#ccc; cursor:pointer; line-height:30px; color:#fff; text-align:center}
.pho-hd-cm-x:hover{background-color:#999}
.pho-hd-cm h3.b{background-color:#f5f5f5; color:#0099D2; padding:5px 10px;}
.pho-hd-cm .av{margin-left:5px}
.pho-hd-cm .ago.b{display:inline-block; margin:5px;}
.pho-hd-cm .detail{padding:10px ; color:#555;}
.pho-hd-cm .cm-g{padding:5px}
.pho-hd-cm.ln .cm-dt{margin-left:0px !important; width:280px !important; padding:0px 5px 5px 5px !important; text-indent:10px}
.pho-hd-cm.ln .cm-u{float:none !important;}
.pho-hd-cm.ln .cm-r{ text-align:left !important;}
.pho-hd-cm.ln .cm-p-a{width: 230px;}
.pho-hd-cm .hd-cm-g{overflow-y:scroll; overflow-x: hidden}

.pho-hd-im .prev,.pho-hd-im .next{background:url(../images/profile/icn-nav.png) -42px -60px no-repeat;width: 24px;height: 24px; position:absolute; top:50%; left:20px; display:none;}
.pho-hd-im .next{background-position:-66px -60px; left:auto; right:20px;}
.hdMode .pho-hd{overflow-x: auto; overflow-y:scroll}


.pho-hd-edt{background-color:#fff; width:560px; text-align:center}
.pho-hd-edt-img{ padding:20px}
.pho-hd-edt-ctrl div{width:100px; padding:0px; line-height:0px; border:1px solid #333; margin:5px; float:left}
.pho-hd-edt-sv{text-align: right;padding: 5px;background: #F9F9F9;margin: 0px 5px 5px;}
.pho-hd-edt-rt-l,.pho-hd-edt-rt-r{cursor:pointer; float:left;background:#fff url(../images/profile/icn-nav.png) -144px -111px no-repeat;width: 16px;height: 16px; display:block; overflow:hidden; margin:5px 0px 0px 5px;}
.pho-hd-edt-rt-r{background-position:-160px -111px}
.pho-hd-edt-rt-l:hover,.pho-hd-edt-rt-r:hover{background-color:#eee}
.pho-hd-img-cv{display:none}


.sh-hd{text-align:center;position:fixed;top:0px;left:0px; right:0px; bottom:0px; overflow:hidden;background:rgba(255, 255, 255, 0.7) url(../images/global/gbox.png) left top repeat; z-index:199999}
.sh-hd-ct{display: table;height: 100%;table-layout: fixed;width: 100%;}
.sh-hd-in{display: table-cell;text-align: center;vertical-align: middle;width: 100%;}
.sh-hd-wr{display: inline-block;outline: none;text-align: left;position:relative}
.sh-hd-wl{ margin:20px 0px; zoom:1; background-color:#fff;}
.sh-hd-ms{padding:30px; border-bottom:1px solid #f0f0f0; border:5px solid #ccc; position:relative;}
.sh-hd-ms #lto span { margin:1px 5px 1px 1px}
.sh-hd-ms .sh-z{border-bottom:none; margin-top:10px;}
.sh-hd-ms-x{ position:absolute; right:-5px; top:-5px; width:30px; height:30px; background:#ccc; cursor:pointer; line-height:30px; color:#fff; text-align:center}
.sh-hd-ms-x:hover{background-color:#999}
.hdMode .sh-hd{overflow-x: auto; overflow-y:scroll}


.noty_bar {display:none;z-index:9999999;color:#fff;width:100%;clear:both;position:relative;text-align:left;background:#0099D2 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAYAAAAPOoFWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNq81tsOgjAMANB2ov7/7ypaN7IlIwi9rGuT8QSc9EIDAsAznxvY4pXPKr05RUE5MEVB+TyWfCEl9LZApYopCmo9C4FKSMtYoI8Bwv79aQJU4l6hXXCZrQbokJEksxHo9KMOgc6w1atHXM8K9DVC7FQnJ0i8iK3QooGgbnyKgMDygBWyYFZoqx4qS27KqLZJjA1D0jK6QJcYEQEiWv9PGkTsbqxQ8oT+ZtZB6AkdsJnQDnMoHXHLGKOgDYuCWmYhEERCI5gaamW0bnHdA3k2ltlIN+2qKRyCND0bhqSYCyTB3CAOc4WusBEIpkeBuPgJMAAX8Hs1NfqHRgAAAABJRU5ErkJggg==') repeat-x scroll left top;border:1px solid #0B90C4;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);}
.noty_bar .noty_message {text-align: left;width: auto;padding: 8px 34px 8px 14px;font-size: 13px;font-weight: normal;}
ul.noty_cont {position: fixed;z-index: 10000000;margin: 0px;padding: 0px;list-style: none;width: 300px;right:40px; bottom:20px}
ul.noty_cont li {position: relative;float: left;clear: both;list-style: none;padding: 0px;margin: 10px 0 0 0;width: 300px;}
.noty_bar .noty_close {position: absolute;top: 7px;right: 7px;background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAORJREFUeNq0lU0OgjAQhRm5gUl3rLyBB3BDQjwI4TDcgmu4NqwNJGxdueqWA4zzCJoxtvxoeckLzbz2C5ShEDNHDiXis/gkPooPY/0uvomv4ov48bUSQGUSF+Ka51WPc0kzNGwvLnm9ynHtB5B+hGkoaWDB/6t4AZOFe7ZkTxMAc1dqreU0TbnrunetbVvOsmzIPMoBrFwJYGgCY8wAgjFGDZlHFYCNK9EAXPUYmUcNgL0v1dAFMKjfRSsVx/H0hC0eOfhLmWwbfTcYozbXNsEbO/int8nhEPz4CnbAUuhfwFOAAQAA48KKOuexjwAAAABJRU5ErkJggg==');width: 20px;height: 20px;cursor: pointer;}



.ads-box .socialshare{margin: 0px 3px 3px 3px;padding: 5px 0px 2px 0px;background:#F9F9F9;}
.socialshare div {float:right; width:90px;}
.socialshare p{clear:both;}


.forum_level_0,.forum_level_{color:#666 !important}
.forum_level_10{color:#333 !important}
.forum_level_20{color:#393 !important}
.forum_level_30{color:#93F !important}
.forum_level_40{color:#F60 !important}




.mn-global{text-align:left}
.mn-global .mn-global-mn a{display:block; height:28px; line-height:28px; border-bottom:1px dashed #808184; color:#58595B}
.mn-global .mn-global-mn a:hover{background-color:#f0f0f0;}
.mn-global i{background:url(../images/global/icon.service.png) -25px 0px no-repeat; vertical-align:middle; width:25px; height:25px; margin:0px 3px 0px 0px; display:inline-block}
.mn-global .mn-global-mn i{margin:0px 10px 0px 5px;}
.mn-global i.i1{background-position:-25px 0px}
.mn-global i.i2{background-position:-50px 0px}
.mn-global i.i3{background-position:-75px 0px}
.mn-global i.i4{background-position:-100px 0px}
.mn-global i.i5{background-position:-125px 0px}
.mn-global i.i6{background-position:-150px 0px}
.mn-global i.i7{background-position:-175px 0px}
.mn-global i.i8{background-position:-200px 0px}
.mn-global i.i9{background-position:-225px 0px}
.mn-global i.i10{background-position:-250px 0px}
.mn-global i.i11{background-position:-275px 0px}
.mn-global i.i12{background-position:-300px 0px}
.mn-global i.i13{background-position:-325px 0px}
.mn-global i.i14{background-position:-350px 0px}
.mn-global i.i15{background-position:-375px 0px}
.mn-global i.i16{background-position:-400px 0px}
.mn-global i.i17{background-position:-425px 0px}
.mn-global i.i18{background-position:-450px 0px}
.mn-global i.i19{background-position:-475px 0px}
.mn-global i.i20{background-position:-500px 0px}
.mn-global i.i21{background-position:-525px 0px}
.mn-global i.i22{background-position:-550px 0px}
.mn-global i.i23{background-position:-575px 0px}
.mn-global i.i24{background-position:-600px 0px}
.mn-global i.i25{background-position:-625px 0px}
.mn-global i.i26{background-position:-650px 0px}
.mn-global {padding:0px 5px; background:#fff;}
.mn-global > p{height:30px; line-height:30px; border-top:1px solid #58595B}
.mn-global > p.m{border:none}
.mn-global > p.n{height:1px; line-height:0px; overflow:hidden;}
.mn-global .gm{padding-bottom:5px 0px;}
.mn-global .gm li{float:left; width:105px; margin:0px 0px 5px 12px}
.mn-global .gm li.g0,.mn-global .gm li.g2,.mn-global .gm li.g4{margin-left:0px;}
.mn-global .gm li > a{display:block; width:105px; height:80px; background:#000; line-height:0px;}
.mn-global .gm li > a img{width:101px; height:76px; margin:2px;}
.mn-global .gm li p{width:105px; text-align:left; white-space:nowrap; height:16px; line-height:16px;text-overflow:ellipsis; overflow:hidden; border:none;}
.mn-global h4{height:30px; line-height:30px; text-align:center; color:#fff;background-color: #2294DC;background-image: -webkit-linear-gradient(top,#51D0E5,#2294DC);background-image: -moz-linear-gradient(top,#51D0E5,#2294DC);background-image: -ms-linear-gradient(top,#51D0E5,#2294DC);background-image: -o-linear-gradient(top,#51D0E5,#2294DC);background-image: linear-gradient(top,#51D0E5,#2294DC);}
.mn-global h4 a{color:#fff;}
.mn-global .sx{margin:0px 0px 5px;}
.mn-global .sx li{float:left; width:32%;line-height:0px; margin: 4px 0px 1px 1%;}
.mn-global .sx li.s0,.mn-global .sx li.s3{margin-left:0px;}
.mn-global .sx li a{display:block}
.mn-global .sx li img{width:100%;}
.mn-global .fr{background:#F1F1F2; padding:8px 5px; border-radius:5px; margin:5px 0px 0px}
.mn-global .fr li{border-bottom:1px solid #D0D2D3; border-top:1px solid #fff; height:24px; line-height:24px; text-indent:5px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.mn-global .fr li a{color:#404041}
.mn-global .fr.bt i{border-bottom:1px solid #D0D2D3;display:block;width:200px;height:40px; background:url(../images/global/icon.service.png) 0px -50px no-repeat}
.mn-global .fr.fb i{border-bottom:1px solid #D0D2D3;display:block;width:200px;height:48px; background:url(../images/global/icon.service.png) 0px -95px no-repeat}
.mn-global .fr.by i{border-bottom:1px solid #D0D2D3;display:block;width:200px;height:43px; background:url(../images/global/icon.service.png) 0px -145px no-repeat}
.mn-global .fr.lb i{border-bottom:1px solid #D0D2D3;display:block;width:200px;height:30px; background:url(../images/global/icon.service.png) 0px -200px no-repeat}


.emo{width:16px; height:16px; display:inline-block; vertical-align:top; background:url(../images/global/emoticon.png) 0px 0px no-repeat;}
.emo-1{background-position:0px -221px;}
.emo-2{background-position:-68px -374px}
.emo-3{background-position:-17px -289px}
.emo-4{background-position:-51px -187px}
.emo-5{background-position:0px -238px}
.emo-6{background-position:-17px -357px}
.emo-7{background-position:0px -391px}
.emo-8{background-position:-17px -374px}
.emo-9{background-position:-68px -357px}
.emo-10{background-position:-17px -221px}
.emo-11{background-position:-68px -221px}
.emo-12{background-position:0px -374px}
.emo-13{background-position:0px -357px}
.emo-14{background-position:-68px -187px}
.emo-15{background-position:-17px -340px}
.emo-16{background-position:0px -204px}
.emo-17{background-position:-34px -374px}
.emo-18{background-position:-51px -374px}
.emo-19{background-position:-34px -221px}
.emo-20{background-position:-51px -221px}
.emo-21{background-position:-34px -357px}
.emo-22{background-position:-51px -357px}
.emo-23{background-position:-68px -204px}
.emo-24{background-position:-51px -799px}
.emo-25{background-position:-17px -204px}