
html,body,div,p {margin: 0px;padding: 0px;border: 0px;}
body{ font-family:Tahoma; font-size: 16px; line-height: 1.6em; color: #555; background:#fff; padding:0px;margin:0px; padding-top:53px;}
a{ text-decoration:none; color:#F60}

.left{float:left;}
.right{float:right;}

.apps-list{list-style:none;margin:0px; padding:0px;}
.apps-list li{border-bottom:1px solid #ccc; overflow:hidden; background:#fff;}
.apps-list li:nth-child(odd){ background:#f4f4f4;}
.apps-list li a{height:62px;display:block;color: #333; text-decoration: none; padding:0px 5px;}
.apps-list li a img{float:left; width:50px; height:50px; background:#ccc; margin:5px 10px 0px 0px;border-radius:4px; border:1px solid #000;}
.apps-list h1{font-size:24px; color:#333; padding:10px 0px 5px; margin:0px;}
.apps-list h2{font-size:14px; color:#888; font-weight:normal; margin:0px;}


.bar{height:50px; line-height:50px; background:#DC232D; position:fixed; width:100%; left:0px; top:0px;border-bottom: 3px solid #AA1224; z-index:99;}
.bar>p{display:none; height:20px; overflow:hidden;}
.bar>div{position:relative;}
.bar-back,.bar-refresh,.bar-print{width:40px; height:40px; display:inline-block;position:absolute;top:5px; background:url(http://s0.boxza.com/static/images/mobile/matching.png) 0px 0px no-repeat; border-radius:4px;}
.bar-back{ left:5px;}
.bar-refresh{right:10px; background-position:-40px 0px;}
.bar-print{right:55px; background-position:-80px 0px;}
.bar-title{ margin:0px 55px; text-align:center; color:#fff; font-size:26px; line-height:50px; height:50px; text-shadow:none;}
.bar-title span {width: 1px;height: 1px;overflow: hidden;display: inline-block;}


.cooked-bar{padding: 5px 20px;background: #fff;margin: 0px;height: 32px;line-height: 32px; border-bottom:1px solid #ccc;}

#user-bar{height:40px; line-height:40px; background:#666; color:#fff; padding:0px 5px; overflow:hidden;}
#user-bar img{float: left;height: 30px;margin: 4px 5px 0px 0px;}
/*.icon-exit{background:url(http://s0.boxza.com/static/images/mobile/matching.png) -125px -5px no-repeat;display: inline-block;height: 30px;line-height: 30px;width:30px;margin: 5px 0px 5px 5px;padding: 0px;float: right;}
*/

#cooked{padding:0px; margin:10px 20px; display:none; text-align:center;}

#cooked:after{ clear:both; content:""; height:0px; display:block;}
#filter>h4{ height:36px; line-height:36px; padding:0px; margin:10px 0px 0px; background:#ccc; text-align:center; color:#fff;border-top-left-radius:5px; border-top-right-radius:5px; position:relative;text-shadow:0px 0px 3px #666;}
#filter>h4 a{display: inline-block;width: 32px;height: 29px;position: absolute;right: 2px;top: 2px;background: #999;line-height: 29px;border-bottom: 3px solid #888;color: #fff;border-radius: 4px; letter-spacing:1px;}
#filter>div{min-height: 30px;border-left: 2px solid #ccc;border-right: 2px solid #ccc;margin:0px; text-align:center}
#filter ul{margin:0px; padding:0px; text-align:left; list-style:none;}
#filter ul a{display:block; height:34px; line-height:34px; overflow:hidden; white-space:nowrap;text-overflow:ellipsis; border-bottom:1px solid #ddd; padding:0px 0px 0px 10px;}
#filter ul a strong{font-weight:normal;}
#filter ul li:last-child a{border-bottom:none;}

#filter>p{ height:22px; line-height:22px; text-align:center; color:#fff;background:#ccc;border-bottom-left-radius:5px; border-bottom-right-radius:5px; font-size:13px; text-shadow:0px 0px 3px #999;}


#result{text-align:center;}
#result>div{padding:10px;margin:0px}
#result>h3{ padding:5px; margin:0px 0px 5px; border-bottom:2px solid #ccc; background:#f5f5f5; text-shadow:1px 1px 0px #fff; color:#333;}
#result>p{}

#result .btn{display:block; width:100%; margin-bottom:10px; padding:6px 0px;}
#result .btn.left,#result .btn.right{width:49%}


.share-list{list-style:none; margin:0px; padding:0px;}
.share-list li{border-bottom:1px solid #ccc; overflow:hidden; background:#fff; padding:0px 5px;}
.share-list li:nth-child(odd){ background:#f4f4f4;}
.share-list li a{}
.share-list h4{ height:40px; line-height:40px; margin:0px; padding:0px;}
.share-list h4 img{float:left; width:32px; margin:4px 8px 0px 0px; border-radius:5px;}

#waiting{margin:50px 30px; text-align:center; color:#444; font-size:24px;}

#preload{position:absolute; width:100%; height:10px; background:rgba(0,0,0,0.2); text-align:center; display:none; left:0px; z-index:11}

#menu{display:none; margin:30px 10%; list-style:none; padding:0px;}
#menu li{margin:10px 0px; overflow:hidden; white-space:nowrap;text-overflow:ellipsis}
#menu li > a{ display:block; height:50px; line-height:50px; border-radius:5px; background:#bdc3c7; text-align:center; color:#fff; font-size:24px; border-bottom:4px solid #acb2b7; text-shadow:0 1px 2px rgba(0, 0, 0, 0.25)}
#menu li#menu_view a{background:#f39c12; border-color:#e8930c}



#menu_fb{background:#f9f9f9; border:1px solid #ccc; height:60px; line-height:60px; border-radius:5px}
#menu_fb img{width:50px; height:50px; margin:5px; float:left; border-radius:5px;}
#menu_fb div{height:25px; line-height:25px; margin-top:5px;}
#menu_fb p{height:25px; line-height:25px;}

.msg-box{ background:#eff0f2; border:3px solid #666; border-bottom-left-radius:10px; border-bottom-right-radius:10px; margin:0px auto; max-width:80%;border-top:none; padding:5px 0px 0px;/*box-shadow:0px 0px 5px #333*/}
.msg-box h3{height:36px; line-height:36px; margin:-5px 0px 10px; padding:0px 5px 0px 10px; background:#BDC3C7; color:#34495e;}

#waiting_text{font-size:18px;}


.help--box{margin:5px; border:1px solid #ccc; background:#fff; padding:10px; text-align:left;}

.top-list{list-style:none;margin:0px; padding:0px;}
.top-list li{border-bottom:1px solid #ccc; overflow:hidden; background:#fff;}
.top-list li:nth-child(odd){ background:#f4f4f4;}
.top-list li a{height:62px;display:block;color: #333; text-decoration: none; padding:0px 5px;}
.top-list li a img{float:left; width:50px; height:50px; background:#ccc; margin:5px 10px 0px 0px;border-radius:4px; border:1px solid #000;}
.top-list h1{font-size:20px; color:#333; padding:7px 0px 0px; margin:0px;}
.top-list h2{font-size:14px; color:#888; font-weight:normal; margin:0px;}

.score-list{list-style:none; padding:0px; margin:0px;}
.score-list li{height: 36px;line-height: 36px;overflow: hidden;border-bottom: 1px solid #ccc;padding: 0px 0px 0px 10px;}
.score-list li:nth-child(even){background:#fcfcfc;}
.score-list li a{display:inline-block; height:32px; line-height:32px; margin:2px 2px 0px 0px; padding:0px 10px; font-size:16px; color:#fff; background:#ff8800; border-radius:4px; float:right;}

.bg-lv{ display:inline-block; padding:3px 5px; border-radius:4px; background:#F60; color:#fff;}
.btn {display: inline-block;padding: 6px 20px;margin-bottom: 0;font-size: 16px;line-height: 1.5; border-radius:6px;text-align: center;vertical-align: middle;cursor: pointer;color: #ffffff;background:#bdc3c7;border:none;border-bottom:4px solid #acb2b7; text-shadow:0 1px 2px rgba(0, 0, 0, 0.25)}
.btn-play{color: #ffffff;background-color: #f39c12;border-color: #e8930c; font-weight:bold;}
.btn-get{background-color: #f39c12;border-color: #e8930c; font-weight:bold;width:100%; margin:0px auto; font-size:30px;}


.msg-box .btn{display:block; margin:0px 5px 5px 5px;}


#progress {width: 100px;height: 26px;margin:5px 0px 0px;display: inline-block;border:2px solid #93b52A;background:#ABD149; position:relative; float:left; display:none; border-radius:6px;}
#progress>div{width:100%; height:26px;float:left;background:#f0f0f0; border-radius:5px;}
#progress>p{width:94%; height:26px;z-index:9; text-align:center; line-height:26px; color:#000; position:absolute; left:3%; top:0px; white-space:nowrap; overflow:hidden;text-overflow:ellipsis; font-size:13px;}



/* กล่องแสดงข้อความขนาดเล็ก */
#loading{z-index:999999;position:absolute;left:0px;top:0px; text-align:right; display:none;min-width:450px; overflow:visible;border:1px solid #666; background:#FFFFFF;opacity:0; border-radius:5px; box-shadow:0px 0px 10px #666}
#loading > div{ position:relative; padding:5px;}
#loading .loading_close{ position:absolute; z-index:999; top:5px; right:5px; line-height:7px;}
#loading > div > span{font-size:16px; color:#000000; font-weight:bold; text-align:center; display:block;line-height:2.0em; margin:10px 5px;}

/* inet popup - แสดงหน้าต่างข้อมูลซ้อนบนหน้าเว็บ */
#gbox{font-size:12px;overflow:hidden; width:100%;position:absolute;left:0px; top:0px; display:none; z-index:299999;padding:0px;margin:0px;}
#gboxa{width:100%;padding:0px;margin:0px;position:absolute;left:0px; top:0px;background:rgba(255, 255, 255, 0.7) url(../images/global/gbox.png) left top repeat;}
#gboxb{position:absolute;background:#FFFFFF;overflow:hidden; position:relative;height:0px;box-shadow:0px 0px 5px rgba(0,0,0,0.5); -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.5); -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.5);border-radius:3px;}
#gboxc{overflow:hidden;text-align:left; color:#666666; border-radius:3px;}
.gbox{display:none}
.gbox_header{text-align:center; color:#F60; padding:3px; background-color:#F0F0F0; border-bottom:1px solid #CCC; font-size:16px; padding:10px; text-shadow:1px 1px 0px #fff;}
.gbox_content{background:#fff; color:#666}
.gbox_content h4{margin-bottom:5px; text-align:left; color:#000}
.gbox_content hr{border:none; color:#FFFFFF; border-bottom:1px solid #DDDDDD; margin:20px 0px}
.gbox_footer{ text-align:center; background-color:#F0F0F0; border-top:1px solid #CCC; padding:5px}
#gboxc .gbox{display:block}


.tbox{padding:0px; display:block; width:100%; text-indent:5px; background-color: #F9F9F9;color:#333;border-top:1px solid #c4c4c4; border-left:1px solid #c4c4c4; border-right:1px solid #f6f6f6; border-bottom:1px solid #f6f6f6;font-size:14px; line-height:1.6em; border-radius:4px}
input[type=file].tbox{border: none;background: transparent;text-indent: 0px;}
input.tbox,select.tbox{ height:32px; line-height:32px;padding:0px !important; margin:0px 0px 5px 0px !important;}
.tboxerror{padding:3px;border:#ff0000 1px solid;color:#ff0000;font-weight:bold;}
.error{padding:3px;background:#ff0000;color:#ffffff;font-weight:bold;}

  
@media (max-width: 320px){

#menu{margin:10px 5%;}
#menu li{margin:5px 0px;}
#menu li a{height:40px; line-height:40px;font-size:20px;}

}